<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AsposeCFConnectionString"
      connectionString="Server=local.ebiz.sk;Database=eProcurement;User Id=sa;Password=Lomtec2000;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="VersionNumber" value="1.0.0" />
  </appSettings>

</configuration>